body {
  /* background: rgb(222, 247, 206);
  background: linear-gradient(
    184deg,
    rgba(222, 247, 206, 1) 3%,
    rgba(235, 236, 221, 1) 10%,
    rgba(240, 239, 222, 1) 19%,
    rgba(254, 254, 254, 1) 49%,
    rgba(255, 255, 255, 1) 64%,
    rgba(233, 249, 247, 1) 74%,
    rgba(222, 247, 206, 1) 94%
  ); */
  background-color: #f4f1de;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100vh;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
  margin: 30px;
  height: 100vh;
}

.column {
  width: 100% !important;
}

.search {
  margin: 5%;
}

.box-item {
  color: #1d3557 !important;
}

.content-link {
  align-items: center !important;
  align-self: center !important;
  vertical-align: middle !important;
}

.recent:hover {
  border: 1px solid thistle;
  border-radius: 10px;
  margin: -1px !important;
  text-align: center;
}

.item:active {
  color: #fac05e !important;
}

/* .burger-color {
  background-color: #5c0029 !important;
} */

.content-content {
  font-size: 12px !important;
}

li {
  line-height: 22px;
}

li:hover {
  background-color: #fff3eb;
  color: #372549;
}

a {
  color: #8ad0f8;
  margin-right: 6px;
}
.item {
  margin: 7% 10% 10% 10%;
  padding: 5px !important;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  -webkit-box-shadow: inset 0 0 30px #d1ccca;
  box-shadow: inset 0 0 30px #d1ccca;
  -moz-box-shadow: inset 0 0 30px #d1ccca;
}

.found {
  font-size: 12px;
  opacity: 0.4;
  margin-top: -12px;
  color: #eeeeee;
}

.prompt {
  font-family: "Open Sans", sans-serif;
}

.header {
  color: #3d405b !important;
}

a {
  color: #457b9d !important;
}

.search-results {
  text-decoration: none !important;
}

.results {
  margin: 2.5rem;
  flex-basis: 33%;
}

a:hover {
  color: #8ab4f8;
}

a:hover {
  text-decoration: underline;
}

.subtitle {
  opacity: 1;
  margin: 0px !important;
  margin-top: -10px !important;
}

@media (min-width: 600px) {
  .column {
    width: 90% !important;
  }
  .search,
  .item {
    margin: 30px;
  }
  main {
    flex-wrap: nowrap;
  }
}

.recent {
  margin: 5px !important;
  font-size: 14px;
  font-weight: 500;
  line-height: 200%;
  color: #1d3557;
}

.menu-menu {
  top: 30;
  position: absolute;
  /* background: #282828; */
  background: #f7ebe8;
  /* color: #aaaaaa; */
  color: #444140 !important;
  z-index: 30;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 8px#d1ccca;
  box-shadow: inset 0 0 8px #d1ccca;
  -moz-box-shadow: inset 0 0 8px #d1ccca;
}

.menu-menu--full {
  width: 82.5vw;
  /* width: 90vw; */
  overflow-y: auto;
  height: 90vh;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33%;
  justify-content: center;
  color: #5c0029 !important;
}

.menu-menu-list {
  text-align: center;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.menu-menu-list-item--full {
  font-size: 1em;
  margin: 40px 0;
  -webkit-transform: rotate(1200deg);

  -ms-transform: rotate(1200deg);

  transform: rotate(1200deg);
}

.menu-menu a {
  text-decoration: none;
  /* color: #333; */
  color: #885053;
}

/* .menu-menu a:hover,
.menu-menu a:focus {
  color: #c597d8;
} */

.menu-menu-button {
  z-index: 40;
  border: none;
  position: fixed;
  top: 750px;
  padding: 0px;
  font-size: 1em;
  background: #fbf2ff;
  color: #692969 !important;
  -webkit-transition: background 0.1s linear;

  -o-transition: background 0.1s linear;

  transition: background 0.1s linear;
  cursor: pointer;
}

.classic-divider {
  opacity: 0.44;
}

a.content {
  color: #444140 !important;
  font-weight: 400;
  margin: auto;
  cursor: pointer;
}

button {
  -webkit-tap-highlight-color: transparent !important;
}

form {
  margin-bottom: 40px;
}

.recent-search {
  margin-top: 15px !important;
  opacity: 0.74;
  /* margin: 5px !important; */
  font-size: 14px;
  font-weight: 500;
  line-height: 200%;
  color: #1d3557;
}

.search-history {
  display: flex;
  flex-direction: row;
}

.home {
  /* color: #eeeeee !important; */
  color: #e63946 !important;
  text-decoration: none;
  margin-right: 0px;
  font-weight: 900 !important;
  font-family: "Proza Libre", sans-serif;
}

.home:hover {
  text-decoration: none;
}

.prompt:focus {
  border-color: #1d3557 !important;
}

input[type="text"],
textarea {
  font-size: 16px !important;
}

/* media queries */

@media (min-width: 540px) {
  .menu-menu--full {
    width: 85.5vw;
  }
}
@media (min-width: 600px) {
  .menu-menu--full {
    width: 88.5vw;
  }
}

@media (min-width: 768px) {
  .menu-menu--full {
    width: 48.5vw;
  }
}

@media (min-width: 1024px) {
  .search {
    margin: 5%;
  }
  .input {
    width: 550px;
    height: 50px;
  }
  .header {
    font-size: 36px !important;
  }
  .header.subtitle {
    font-size: 18px !important;
  }
}

/* iphone 6 */

@media (min-width: 360px) {
  .results {
    margin-right: 3.5rem;
    margin-left: 3.5rem;
  }
}

/* ipad landscape */
@media (min-width: 1024px) and (min-height: 768px) {
  .input {
    width: 450px;
    height: 50px;
  }
  .container {
    margin-top: 30% !important;
  }
  .menu-menu--full {
    height: 70vh;
  }
}

/* ipad portrait */

@media (min-width: 768px) and (min-height: 1024px) {
  .input {
    width: 300px;
    height: 50px;
  }
  .container {
    margin-top: 34% !important;
  }
  .menu-menu--full {
    height: 150vh;
    width: 83vw;
    /* margin-left: -50px; */
  }
  .header {
    font-size: 36px !important;
  }
  .header.subtitle {
    font-size: 18px !important;
  }
}

/* ipad media queries */

/* ipad pro landscape*/

@media (min-width: 1366px) and (min-height: 1024px) {
  .container {
    margin-top: 24% !important;
  }
  .menu-menu--full {
    width: 53vw;
  }
}

/* ipad pro portrait */

@media (min-width: 1024px) and (min-height: 1366px) {
  .container {
    margin-top: 40% !important;
  }
  .menu-menu--full {
    width: 55vw;
  }
  .subtitle {
    opacity: 0.7;
  }
}

/* surface duo media queries */

/* surface duo portrait */

@media (min-width: 540px) and (min-height: 720px) {
  .container {
    margin-top: 30%;
  }
  .results {
    margin-right: 4rem;
    margin-left: 4rem;
  }
}

/* surface duo landscape */

@media (min-width: 720px) and (min-height: 540px) {
  .container {
    margin-top: 22%;
  }
}

/* iphone X landscape */

@media (min-width: 812px) and (min-height: 375px) {
  .container {
    margin-top: 14% !important;
  }
}

/* iphone 6/7/8 Plus landscape */

@media (min-width: 731px) and (min-height: 411px) {
  .container {
    margin-top: 15% !important;
  }
}

/* mac book pro  */

@media (min-width: 1280px) and (min-height: 800px) {
  .container {
    margin-top: 18% !important;
  }
  .input {
    width: 450px !important;
    height: 50px !important;
  }
  .header {
    font-size: 46px !important;
  }
  .menu-menu--full {
    width: 83vw;
    margin-left: -10px;
  }
  .subtitle {
    opacity: 0.7;
  }
}

@media (min-width: 1600px) {
  .input {
    width: 450px !important;
    height: 50px !important;
  }
  .menu-menu--full {
    height: 80vh;
    width: 84vw;
    margin-left: -20px;
  }
}

@media (min-width: 2048px) and (orientation: landscape) {
  .input {
    width: 550px !important;
    height: 50px !important;
  }
  .menu-menu--full {
    width: 86vw;
    margin-left: -50px;
  }
}

@media (min-width: 2400px) and (orientation: landscape) {
  .container {
    margin-top: 16% !important;
  }
  .input {
    width: 550px;
    height: 50px;
  }
  .menu-menu--full {
    margin-left: -60px;
  }
}
