.query-history {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
  text-align: center;
}

.box-item {
  text-align: center;
  justify-content: center;
}

.nav {
  width: 100vw;
  margin: 5px;
  text-align: center;
  justify-content: center;
}
