.result-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 10px;
  text-align: center;
}

/* .search-results {
  text-align: center !important;
  justify-content: center !important;
  justify-self: center !important;
} */
